export NEXT_PUBLIC_CONTENTFUL_SPACE_ID="t0ppn8s8xez4"
export NEXT_PUBLIC_CONTENTFUL_ACCESS_TOKEN="Oc2wa1eklCresiwtjgaYjyAXU_ES4rthQI5nbGQN_xY"
export NEXT_PUBLIC_PREVIEW_ACCESS_TOKEN="5nk3vJVhA4SE7_2SzylWepSZcmIXoNj1SuOzPbCFeF4"