@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--background: #0A0908;
	--foreground: #ffffff;
}

@media (prefers-color-scheme: dark) {
	:root {
		--background: #0A0908;
		--foreground: #ffffff;
	}
}

body {
	color: var(--foreground);
	background: var(--background);
	overflow-x: hidden;
	font-family: Arial, Helvetica, sans-serif;
}

section {
	filter: brightness(0.5);
	animation: flicker 0.2s 2 forwards;
	animation-delay: 0.25s;
}

.billboard {
	filter: brightness(0.5);
	transform: translateY(17px);
	animation: flicker 0.2s 2 forwards;
	animation-delay: 0.25s;
}

.building::after {
	content: "";
	position: absolute;
	top: 0px;
	right: 0px;
	transform: translate(100%, 0px);
	width: 10px;
	height: 100%;
	background: #0E1417;
}

@keyframes flicker {
	0% {
		filter: brightness(0.5);
	}
	25% {
		filter: brightness(0.8);
	}
	75% {
		filter: brightness(0.5);
	}
	100% {
		filter: brightness(1);
	}
}

.building-container {
	background-image: url("/svg/buildings.svg");	
	animation: slide-a 30s linear infinite;
}

.highlighted:hover {
	text-decoration-line: underline;
	text-decoration-style: wavy;
}

@media (max-width: 768px) {
	.window-disappear-one {
		display: none;
	}

	.billboard {
		transform: translateY(6%);
	}
	.building {
		margin-bottom: 300px;
	}
}

@keyframes slide-a {
	0% {
		background-position-x: 0%;
	}
	100% {
		background-position-x: -100%
	}
}

@layer utilities {
	.text-balance {
		text-wrap: balance;
	}
}
