@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--background: #0a0908;
	--foreground: #ffffff;
}

@media (prefers-color-scheme: dark) {
	:root {
		--background: #0a0908;
		--foreground: #ffffff;
	}
}

body {
	color: var(--foreground);
	background: var(--background);
	overflow-x: hidden;
	font-family: Arial, Helvetica, sans-serif;
}

section {
	filter: brightness(0.5);
	animation: flicker 0.2s 2 forwards;
	animation-delay: 0.25s;
}

.billboard {
	filter: brightness(0.5);
	transform: translateY(17px);
	animation: flicker 0.2s 2 forwards;
	animation-delay: 0.25s;
}

.building::after {
	content: "";
	position: absolute;
	top: 0px;
	right: 0px;
	transform: translate(100%, 0px);
	width: 10px;
	height: 100%;
	background: #0e1417;
}

@keyframes flicker {
	0% {
		filter: brightness(0.5);
	}
	25% {
		filter: brightness(0.8);
	}
	75% {
		filter: brightness(0.5);
	}
	100% {
		filter: brightness(1);
	}
}

.building-container {
	background-image: url("/svg/buildings.svg");
	/* animation: slide-a 30s linear infinite; */
}

.highlighted:hover {
	text-decoration-line: underline;
	text-decoration-style: wavy;
}

.popup-container:hover .popup {
	transition: 250ms ease;
	pointer-events: initial;
	opacity: 1;
	transform: translateY(0);
}

.popup {
	transition: 250ms ease;
	pointer-events: none;
	opacity: 0;
	position: absolute;
	left: 0;
	top: calc(100% + 10px);
	padding: 5px;
	transform: translateY(10px);
}

@media (max-width: 768px) {
	.window-disappear-one {
		display: none;
	}

	.billboard {
		transform: translateY(6%);
	}
}

@keyframes slide-a {
	0% {
		background-position-x: 0%;
	}
	100% {
		background-position-x: -100%;
	}
}

@layer utilities {
	.text-balance {
		text-wrap: balance;
	}
}

.go-arrow-container svg[data-go-arrow] {
	transition: 150ms ease;
	transform: translateX(-5px);
}

.go-arrow-container svg[data-go-arrow] path[class$="octicon-chevrow-stem"] {
	transition: 150ms ease;
	stroke-dasharray: 100;
	stroke-dashoffset: 100;
}

.go-arrow-container:hover svg[data-go-arrow] {
	transition: 150ms ease;
	transform: translateX(0px);
}

.go-arrow-container:hover
	svg[data-go-arrow]
	path[class$="octicon-chevrow-stem"] {
	transition: 100ms ease;
	stroke-dasharray: 0;
	stroke-dashoffset: 0;
}
